**/__pycache__/
*.log
**/*.pyc
**/.DS_Store
auto_minium/method_iterator/config.json
auto_minium/method_iterator/outputs
miniapp_data/appid_file/
miniapp_data/newcrawl/*
!miniapp_data/newcrawl/scripts
miniapp_data/appid_file
tmp.py
node_modules/